body {
    background-image: url('coffeebeans.jpg');
    background-repeat: no-repeat; /* Prevents tiling */
    background-size: cover; /* Makes the image cover the entire body */
    background-position: center; /* Centers the image */
}
  
h1, h2, p {
text-align: center;
}
  
.menu {
width: 80%;
background-color: burlywood;
margin-left: auto;
margin-right: auto;
}

.item p { 
    display: inline-block;
  }
  
.flavor {
text-align: left;
width: 75%
}

.price {
text-align: right;
width: 25%
}